.card {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    max-width: 400px;
    align-items: center;
    align-content: space-between;
}

.details {
    color:#1A181B;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    margin: 5px 5px 5px 5px;
}

.photo {
    margin: 10px 10px 5px 5px;
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
}