@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-color: #B9D8C2;
    font-family: Verdana, Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    top: 0;
    font-size: 40px;
    color:#1A181B;
    background-color: #64A6BD;
    border-color:#549BB6;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    padding: 25px 50px;
    margin: 5px 5px 50px 5px;
}

footer {
    display: flex;
    /* flex-shrink: 0; */
    justify-content: center;
    bottom: 0;
}

#name{
    font-family: 'Press Start 2P', cursive;
}

.nav{
    padding-top: 10px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.logo-link {
    width: 25px;
    height: 25px;
    margin: 5px 10px 5px 5px;
}

.vert-flexbox-container {
    display: flex;
    flex-direction: column;
}

.flexbox-container {
    display: flex;
    flex-flow: row wrap;
}

.stuff-box {
    color:#1A181B;
    text-align: center;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    padding: 0px 10px;
    margin: 5px 5px 10px 5px;
}

.lefty {
    text-align: left;
}

.filled {
    flex-grow: 1;
}

.blue {
    background-color: #64A6BD;
    border-color:#549BB6;
    box-shadow: #43859D;
}

.purple {
	border-color: #595086;
    background-color: #635973;
	box-shadow: 1px 1px 2px #453E51;
}

.gray {
	border-color: #C2DFFF;
    background-color: #DCEDFF;
	box-shadow: 1px 1px 2px #ADD5FF;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
    color: #F2A6BD;
}
