@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-color: #CEB992;
    font-family: 'Courier New', Courier, monospace;

}

header {
    display: flex;
    justify-content: space-between;

    color:#1A181B;
    background-color: #64A6BD;
    border-color:#549BB6;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    padding: 25px 50px;
    font-size: 40px;
    margin: 5px 5px 50px 5px;
}

#name{
    font-family: 'Press Start 2P', cursive;
}



.nav{
    padding-top: 10px;
    /* padding-bottom: 10px; */
    /* text-align: center; */
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
 
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.logo-link {
    width: 25px;
    height: 25px;
}

.vert-flexbox-container {
    display: flex;
    flex-direction: column;

}
.stuff-box {
    color:#1A181B;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    /* padding: 25px 50px; */
    text-align: center;

    margin: 5px 0px 10px 5px;
}

.blue {
    background-color: #64A6BD;
    border-color:#549BB6;
    box-shadow: #43859D;
}

.purple {
	border-color: #595086;
    background-color: #635973;
	box-shadow: 1px 1px 2px #453E51;
}

.green {
	border-color: #B5BF88;
    background-color: #BDC696;
	box-shadow: 1px 1px 2px #A4B06D;
}

#profile-pic {
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #595086;
    background-color: #635973;
}